body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.store {
  color: rgb(27, 125, 236);
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 4px;
  margin-left: 7px;
}

.search-box {
  border: 2px solid rgba(11, 73, 65, 0.514);
  width: 350px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
  border-top: none;
  
}
.search-box:hover {
  border: none;
  outline: none;
}
.button {
  color:white ;
  background-color:rgb(13, 163, 233);
  border: none;
  padding: 3px 10px 5px 10px;
  font-size: 18px;
  border-radius: 5px; 
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  border: none;
  

}
.single-product {
  padding: 10px;
  transition: 0.6s;
  background-color: rgba(225, 242, 245, 0.37);
  height: 450px;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
  background-color: rgba(194, 248, 255, 0.37);
  
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
